<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Frontend Classic</title>
	<link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/app.js" defer></script>
</head>
<body>
<nav>
  <ul>

    <li>
      <a href="/">Scroll</a>
    </li>
    <li>
      <a href="/index">Classic</a>
    </li>
    <li>
      <a href="/wiki">Wiki</a>
    </li>
    <li>
      <a href="/modern">Game</a>
    </li>
  </ul>
</nav>

<div>
<div class="main-container">
  <div class="heading">
    <h1 class="heading__title" style="color: rgba(29,33,68,0.86)">Classic</h1>
    <p>This is how I see the classic website.<br>
      Links and buttons are made solely for appearance, they do not carry any load. <br>Except for the navigation menu.</p>
  </div>
  <nav style="padding-bottom: 0; padding-top: 0; display: inline;text-transform: none; mask-image: none">
  <ul>
    <li>
      <a class="btn1 epsilon ls-medium" href="/#">Main</a>
    </li>
    <li>
      <a class="btn1 epsilon ls-medium" href="/#">Search</a>
    </li>
    <li>
      <a class="btn1 epsilon ls-medium" href="/#">HTML</a>
    </li>
    <li>
      <a class="btn1 epsilon ls-medium" href="/#">CSS</a>
    </li>
    <li>
      <a class="btn1 epsilon ls-medium" href="/#">Articles</a>
    </li>
    <li>
      <a class="btn1 epsilon ls-medium" href="/#">JavaScripts</a>
    </li>
  </ul>

</nav>
  <div class="cards" style="float: left">
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">If someone is going to read this, you know you're the best. Thanks for attention.</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Next <i class="fas fa-arrow-right"></i></a>
      </p>
    </div>


  </div>
  <h3>&nbsp   When you walk around the city, what do you see? The eye often stops at stylish storefronts created to attract attention. You choose the most beautiful one and go inside.

<br>&nbsp   The same thing happens on the Internet. Wandering around the Internet in search of what you need, you come across the most suitable site at first glance and go to it.

<br>&nbsp   But if the storefronts are transparent and show what is inside, invite you to take a closer look at the goods, then everything is a little different for websites. What is hidden under the visible elements of the site, how do they interact with the user, with each other and with the system behind it all? Let's find out.</h3>
  <h1 style="color: rgba(29,33,68,0.86)">What is frontend development? Frontend vs backend</h1>
  <h3>&nbsp   The frontend of a website is everything that a user sees and can interact with using a browser. The creation of this visual part is called frontend development. Designers who create user interfaces can also be called frontend developers in some sense, because they work together on the same part of the project.

<br>&nbsp   To develop a frontend, the following basic tools are used: HTML (to create the basic structure of pages and content), CSS (to style the appearance) and JavaScript (to add interactivity). The same set of tools is used in the process of creating progressive web applications - mobile applications that look like native, but are created with the participation of frontend technologies. You can read more about this in the article at the link.

<br>&nbsp   The backend is the server part of a web application, hidden from the user's eyes. This concept includes the servers on which the web pages are located and a certain logic that controls</h3>

<h1 style="color: rgba(29,33,68,0.86);">Other topics</h1>
  <div class="cards" style="">
    <div class="card card-2">


      <h2 class="card__title">The main feature of neural networks is that they are able to make decisions based on past experience. They find signs and relationships, hidden patterns that the developers did not foresee.</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Next <i class="fas fa-arrow-right"></i></a>
        <p class="card__title">#Python</p>
      </p>
    </div>
    <div class="card card-3">


      <h2 class="card__title">Space is so far away, mysterious, attracting researchers and ordinary people interested. Nowadays, many interesting discoveries have been made in the field of space exploration.</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Next <i class="fas fa-arrow-right"></i></a>
        <p class="card__title">#Space</p>
      </p>
    </div>
    <div class="card card-4">


      <h2 class="card__title">Biotechnologies and medicine of the future: what can young people expect in the innovative field of healthcare?</h2>
      <p class="card__apply">
        <a class="card__link" href="#">Next <i class="fas fa-arrow-right"></i></a>
        <p class="card__title">#Med</p>
      </p>
    </div>

  </div>
<h3>&nbsp   If you want to become a professional frontender and work in commercial projects, you will have to constantly update your knowledge and master new technologies. And you can start with this set.<br>

&nbsp    Building projects. A modern website is not a single platform, but a sandwich of many modules scattered across different files. In order for everything to work properly, these files need to be properly assembled. <br>Special assembler programs, or, in simple terms, builders, are responsible for this. Popular assemblers in the frontend are Gulp and Webpack.</h3>

<h1 style="color: rgba(29,33,68,0.86);">Data analysis and machine learning</h1>
  <h3>&nbsp    Which programming language is suitable for machine learning?</h3>
<div class="simple-bar-chart">

  <div class="item" style="--clr: #5EB344; --val: 83">
    <div class="label">Python</div>
    <div class="value">83%</div>
  </div>

  <div class="item" style="--clr: #FCB72A; --val: 44">
    <div class="label">SQL</div>
    <div class="value">44%</div>
  </div>

  <div class="item" style="--clr: #F8821A; --val: 36">
    <div class="label">R</div>
    <div class="value">36%</div>
  </div>

  <div class="item" style="--clr: #E0393E; --val: 23">
    <div class="label">C++</div>
    <div class="value">23%</div>
  </div>

  <div class="item" style="--clr: #963D97; --val: 21">
    <div class="label">Java</div>
    <div class="value">21%</div>
  </div>

  <div class="item" style="--clr: #069CDB; --val: 17">
    <div class="label">JavaScript</div>
    <div class="value">17%</div>
  </div>
</div>

  <h3>How do you see the future? Depict your vision</h3>
</div>
<div class="container5">
      <section class="tools-board">
        <div class="row">
          <label class="title">Shapes</label>
          <ul class="options">
            <li class="option tool" id="rectangle">
              <img src="//css/icons/rectangle.svg" alt="">
              <span>Rectangle</span>
            </li>
            <li class="option tool" id="circle">
              <img src="//css/icons/circle.svg" alt="">
              <span>Circle</span>
            </li>
            <li class="option tool" id="triangle">
              <img src="//css/icons/triangle.svg" alt="">
              <span>Triangle</span>
            </li>
            <li class="option">
              <input type="checkbox" id="fill-color">
              <label for="fill-color">Fill color</label>
            </li>
          </ul>
        </div>
        <div class="row">
          <label class="title">Options</label>
          <ul class="options">
            <li class="option active tool" id="brush">
              <img src="//css/icons/brush.svg" alt="">
              <span>Brush</span>
            </li>
            <li class="option tool" id="eraser">
              <img src="//css/icons/eraser.svg" alt="">
              <span>Eraser</span>
            </li>
            <li class="option">
              <input type="range" id="size-slider" min="1" max="30" value="5">
            </li>
          </ul>
        </div>
        <div class="row colors">
          <label class="title">Colors</label>
          <ul class="options">
            <li class="option"></li>
            <li class="option selected"></li>
            <li class="option"></li>
            <li class="option"></li>
            <li class="option">
              <input type="color" id="color-picker" value="#4A98F7">
            </li>
          </ul>
        </div>
        <div class="row buttons">
          <button class="clear-canvas">Clear Canvas</button>
          <button class="save-img">Save As Image</button>
        </div>
      </section>
      <section class="drawing-board">
        <canvas></canvas>
      </section>

</div>
<h3 style="padding-left: 30px">&nbsp    Imagination is the ability of a person to spontaneously create or intentionally construct images, representations, ideas of objects that in the lived experience of the imaginative in a holistic form were not previously perceived or cannot be perceived at all through the senses <br>(such as, for example, events of history, the supposed future, phenomena of an imperceptible or non—existent world, such as as supernatural characters in fairy tales, myths, etc.). <br>&nbsp    This human ability to create images, representations, ideas and manipulate them plays an important role in such mental processes as modeling, planning, creativity, play, memory, thinking.</h3>

</div>
 <div class="container2">


<h2 style="color: white; font-size: 15px; padding-top: 20px; text-align: center; padding-bottom: 20px; font-family: 'Yu Gothic UI Light'" >2024 Thetl. All rights reserved. All trademarks are the property of their respective owners in the Russian Federation.
    VAT is included in all prices where applicable.</h2>


</div>
</body>
</html>