<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Game</title>
	<link rel="stylesheet" href="/static/css/modern.css">

</head>
<body>

<header>
	<nav>
  <ul class="menu">

    <li><a href="/">WikiLi</a></li>
    <li><a href="/index">WikiDB</a></li>
    <li><a href="/wiki">WikiPy</a></li>
    <li><a href="/modern">Main</a></li>
  </ul>
</nav>
  <div class="container">
  <h1>THETL</h1>
</div>
</header>

<main>
  <p>Всем привет, этот сайт достаточно прост, но без сомнения полезен. Он создан для обучения, подготовки к экзаменам или собеседованию на языке Python. Вы научитесь писать эффективный и чистый код на Python, а также узнаете, как работать с различными типами баз данных для хранения, управления и анализа данных. Курс охватывает как основы, так и продвинутые темы, делая его подходящим для начинающих и опытных разработчиков.</p>

    <div class="wrapper">
      <figure class="card">
        <img
          src='https://dapp.expert/uploads/images/2024/02/image_2400x1016_65bcb0342853e.png'
          width="640"
          height="640"
          alt=""

        />
        <figcaption>
          <blockquote>
            Python developer|All doors are open for you.
          </blockquote>
          <cite
            >Developed by THETL Studio in collaboration with experts</cite>

          <p class="credit">
            <strong>Ask a question</strong>,<br>
            <a href="https://market.yandex.ru/product--death-stranding-directors-cut-ps5-russkaia-versiia/1743463085?sku=101703436058&uniqueId=104337852&ysclid=m00liil3ru335845653">Write a message</a>
          </p>

        </figcaption>

      </figure>

        <p style="color: #da9075">Наш информационный сайт предоставит вам все необходимые знания и навыки для успешной работы с Python и базами данных, так как включает в себя:<br>
|Основы Python/Фреймворки-Django-FastApi<br>
          |Тестирование-Pytest<br>
|Основы SQL/PostgreSQL и нереляционные<br>
|Docker/Docker-compose/Kubernetes/Веб-сервера/Брокеры сообщений/Деплой<br>
|Git<br>
          |Linux<br>
|Архитектура ПО/Логирование/Мониторинг</p><br>


    </div>
    <p>Постоянное обучение и развитие — это не просто требование, а необходимость для успешной карьеры в программировании. Это инвестиция в ваше будущее, которая приносит множество преимуществ, включая карьерный рост, увеличение заработной платы, удовлетворение от работы и возможность работать над интересными проектами.</p>


</main>
<div class="container2">
	<nav>
  <ul class="menu">
    <li><a href="/#">VK</a></li>
    <li><a href="/#">Tg</a></li>
    <li><a href="/#">Email</a></li>
    <li><a href="/#">GitHub</a></li>
  </ul>
</nav>

<p style="font-size: 15px; padding-top: 20px; text-align: center; padding-bottom: 20px" >2024 Thetl. Created for public access. You can contact me:<br> <button class="btn" style="cursor: pointer">Privacy Policy</button> | <button class="btn" style="cursor: pointer">Legal Information</button> | <button class="btn" style="cursor: pointer">Thetl Subscriber Agreement</button> | <button class="btn" style="cursor: pointer">Refunds</button> | <button class="btn" style="cursor: pointer">Cookies</button></p>

</div>
</body>
</html>