
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scroll</title>
	<link rel="stylesheet" href="/static/css/scroll.css">
    <script src="/static/js/scroll.js" defer></script>
</head>
<body>

<div>
<nav>
  <ul>

    <li>
      <a class="btn1 epsilon ls-medium" href="/">Scroll</a>
    </li>
    <li>
      <a class="btn1 epsilon ls-medium" href="/index">Classic</a>
    </li>
    <li>
      <a class="btn1 epsilon ls-medium" href="/wiki">Wiki</a>
    </li>
    <li>
      <a class="btn1 epsilon ls-medium" href="/modern">Game</a>
    </li>
  </ul>

</nav>

<style>
      body, html, * {
        margin: 0;
        padding: 0;
      }
    </style>
  <div style="height: 300vh;">



  <div class="scrolly-video" style="height: 110vh" id="scrolly-video"></div>
<div class="down-arrow" style="position: fixed"></div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/scrolly-video@latest/dist/scrolly-video.js"></script>

  <script type="text/javascript">

    new ScrollyVideo({
      scrollyVideoContainer: "scrolly-video",
      src: "/static/vid/cvir.mp4"
    });

  </script>


<div class="card0">

<div class="wrapper6">
        <div class="banner-image"></div>
    </div>
</div>
  <div class="container" style="margin-bottom: 30px">
<p4 style="color: #7badb6">Medicine of the future: what technologies will allow people to overcome old age, illness and death?<br>Biotech and medicine are among the most fashionable, in–demand and interesting areas in high-tech business.</p4>
  </div>
  <div class="card0">

<div class="wrapper6">
        <div class="banner-image1" style="margin-right: 20px; margin-left: 20px; margin-top: 10px"></div>
    </div>
</div>
  <div class="container" style="margin-bottom: 30px; text-align: left; padding-left: 20px; padding-right: 20px">
    <p4>&nbsp    Cross-technological projects provide breakthroughs in most medical fields. For example, the combination of 3D scanning, 3D printing, advanced software and new polymers has revolutionized the field of dentistry. <br>&nbsp   <p4 style="color: #da9075"> If earlier people were forced to straighten their teeth and correct their bite through painful, long operations, such as prosthetics or braces, now the technology of "aligners" has appeared on the market, an individual program for the use of transparent fixators with a minimum of inconvenience.</p4><br>&nbsp    Five years ago, when I first founded StarSmile, few people in Russia knew about aligners, today this technology is firmly embedded in our reality, especially with the advent of more biocompatible materials.</p4>
  </div>


  <div class="wrapper6">
        <div class="banner-image2" style="margin-right: 20px; margin-left: 20px; margin-top: 10px"></div>
    </div>
</div>
  <div class="container" style="margin-bottom: 30px; text-align: right; padding-left: 20px; padding-right: 20px">
    <p4>&nbsp    The next most important area of biotech is the modernization of the R&D process. Two major areas are clearly visible in this area: the study of the human genome and the modeling of physical processes using specialized programs.<br>&nbsp <p4 style="color: #da9075">   A whole series of microchips are already being tested in the world, which can be used as models of human cells, organs or entire physiological systems.</p4><br>&nbsp    The advantages of such an innovation are undeniable: Instead of long and dangerous research, companies can program human behavior and reaction to a particular stimulus in the context of biotech for drugs being developed.<br>&nbsp    This technology will trigger a revolution in the field of clinical trials and completely replace animal and human testing.</p4>
  </div>
  <div class="banner-image3">


<p style="font-size: 15px; padding-top: 20px; text-align: center; padding-bottom: 20px; color: rgba(200, 200, 200, 0.8);" >2024 Thetl </p>

</div>
  </div>

</body>
</html>